langchain
langchain-community
langchain-core
langchain-openai
langchain-huggingface
langchain-qdrant
sentence_transformers
rank-bm25
langfuse
langgraph
python-dotenv
fastapi
uvicorn
streamlit
redis
langgraph-checkpoint-redis
deepeval